.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.buttons button {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #c3c1c1;
  cursor: pointer;
  transition: background 0.3s;
}

.buttons button:hover {
  background: #f3c796;
}

.buttons button.active {
  background: #e27c07;
  color: #fff;
  border-color: #000;
  border-width: 3px;
}

.monthly-cancellations-container {
  padding: 2rem;
  width: calc(100%/3);
  height: max-content;
}

.monthly-cancellations {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}

.monthly-list {
  list-style: none;
  padding: 0;
}

.monthly-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0;
  border-bottom: 1px solid #eee;
  min-height: 3rem;
}

.monthly-item.high-cancellation {
  background-color: #ffe5e5; /* light red background */
}

.monthly-item.high-cancellation .col-user,
.monthly-item.high-cancellation .col-score {
  color: red;
}

.monthly-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.monthly-user {
  font-weight: 600;
}

/* .monthly-score {
  text-align: center;
}

.monthly-cancellations-count {
  width: 15%;
  text-align: center;
} */

.monthly-status {
  font-weight: bold;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.9rem;
}

.bad-monthly .monthly-status {
  background-color: #f44336;
  color: white;
}

.good-monthly .monthly-status {
  background-color: #4caf50;
  color: white;
}

.bad-monthly {
  border-left: 4px solid #f44336;
}

.good-monthly {
  border-left: 4px solid #4caf50;
}

.monthly-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0.5rem 0;
  border-bottom: 2px solid #ccc;
}

/* Fixed column widths */
.monthly-cancellation-col-user {
  width: 30%;
  margin-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1vw;
}

.monthly-cancellation-col-time {
  width: 30%;
  font-size: 0.9rem;
}

.monthly-cancellation-col-score {
  width: 30%;
  text-align: start;
}

.monthly-cancellation-col-status {
  width: 30%;
  text-align: center;
}

.tooltip-container {
  position: relative;
  cursor: help;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  white-space: nowrap;

  position: absolute;
  z-index: 10;
  bottom: 125%;
  /* above the text */
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
