/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5; /* Light gray background */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow around the app */
  text-align: center;
  width: 100%; /* Use full width */
  max-width: 900px; /* Increase the max-width for better screen usage */
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #f0f0f0;
}

.loader {
  font-size: 1.2em;
  margin-top: 20px;
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 20px;
}
